<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="model.emf.dbusxml.util.DbusxmlResourceFactoryImpl"
            type="dbusxml">
      </parser>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="model.emf.dbusxml.DbusxmlPackage"
            genModel="model/introspect.genmodel"
            uri="introspect.dtd">
      </package>
   </extension>

</plugin>
