<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="dbus-emf-model Target Platform - Eclipse 4.17" sequenceNumber="1655846033">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sdk.feature.group" version="4.17.0.v20200902-1800"/>
      <unit id="org.eclipse.pde.feature.group" version="3.14.500.v20200902-1800"/>
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.8.900.v20200819-0940"/>
      <unit id="org.eclipse.emf.common" version="2.20.0.v20200822-0801"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.23.0.v20200822-0801"/>
      <repository id="photon" location="http://download.eclipse.org/releases/2020-09/202009161000"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xtend.sdk.feature.group" version="2.23.0.v20200831-0926"/>
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.23.0.v20200831-0926"/>
      <repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.23.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.12.0.v20201119-2018"/>
      <unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.12.0.v20201119-2018"/>
      <unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="2.12.0.v20201119-2018"/>
      <repository location="http://download.eclipse.org/modeling/emft/mwe/updates/releases/2.12.0/"/>
    </location>
  </locations>
  <environment>
    <nl>en</nl>
  </environment>
</target>
